<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkHeath.MidiUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MidiFileSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarkHeath.MidiUtils.Properties.Settings>
            <setting name="CustomFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UniqueFilename" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>SubFolder</value>
            </setting>
            <setting name="NoteDuration" serializeAs="String">
                <value>DoNotModify</value>
            </setting>
            <setting name="FixedNoteLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModifyChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixedChannel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowOrphanedNoteEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MidiFileType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TextEventMarkers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LyricsAsMarkers" serializeAs="String">
                <value>False</value>
            </setting>
        </MarkHeath.MidiUtils.Properties.Settings>
    </userSettings>
</configuration>