<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="NAudio" Description="This rule set contains all rules used by NAudio" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2122" Action="None" />
  </Rules>
</RuleSet>